.next
node_modules
out
dist
.env
.env*
!.env.example
*.log
Thumbs.db
.DS_Store
public/images/qa-*.png
public/images/raw/*
!public/images/raw/1-046.jpeg
!public/images/raw/1-053.png
!public/images/raw/1-070.jpeg
!public/images/raw/1-071.jpeg
!public/images/raw/1-135.png
!public/images/raw/1-138.png
!public/images/raw/1-139.png
!public/images/raw/1-141.png
!public/images/raw/1-142.png
!public/images/raw/1-147.png
!public/images/raw/6-165.png
!public/images/raw/6-167.png
!public/images/raw/6-205.png
!public/images/raw/6-248.png
!public/images/raw/6-250.png
